[Unit]
Description=Aegis OS Scout Daemon
After=network.target

[Service]
ExecStart=/home/aewoodyard/aegis-os/venv/bin/python /home/aewoodyard/aegis-os/scout.py
WorkingDirectory=/home/aewoodyard/aegis-os
StandardOutput=inherit
StandardError=inherit
Restart=always
User=aewoodyard

[Install]
WantedBy=multi-user.target
