[Unit]
Description=Aegis OS Scout Daemon
After=network.target

[Service]
ExecStart=/home/aewoodyard/repos/aegis-console/.venv/bin/python -u /home/aewoodyard/repos/aegis-console/apps/aegis-os/scout.py
WorkingDirectory=/home/aewoodyard/repos/aegis-console/apps/aegis-os
StandardOutput=inherit
StandardError=inherit
Restart=always
User=aewoodyard

[Install]
WantedBy=multi-user.target
